.detail{
    position: relative;
    h1{
        width:100%;
        text-align: center;
    } 
}
.detail-background{
    width: 100%;
    height:400px;
    object-fit: cover;  
}
.detail-text{
    padding: 0rem 1rem;
}
.detail-footer{
    @include h-flex;
    background-color: $primary;
    color: $white;
    width: 90%;
    margin: 1rem auto;
    li{
        padding: 1rem;
    }
}
.detail-genres{
    @include grid-item(4,0.5rem,0.5rem);
    li{
        border-radius: 16px;
        background-color: $secondary;
        text-align: center;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
    }   
}