// colors
$background:#1E3044;
$primary:#FF6642;
$danger:#fd370a;
$secondary:#335172;
$tertiary:#1C2329;
$white:#FFFFFF;

// fonts
$title-font: 'Julius Sans One', sans-serif;
$text-font: 'Source Code Pro',helvetica;
$font-normal:400;
$font-bold: 600;
$font-black:900;

// space + size
$space:2.5rem;
$normal-size:1rem;
$normal2-size:1.15rem;
$title-size:2.5rem;
